@model OnlineCommercialAutomation.Models.Entities.Product
@{
    ViewBag.Title = "UpdateBestSellers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Update Best Sellers</h2>
<br />
@using (Html.BeginForm("UpdateBestSellers", "ToDoList", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Id)
        <div class="form-group row">
            <h3 class="col-md-6">Product Name : @Model.ProductsName</h3>
            <br />
            <div class="col-md-2">
                @Html.CheckBoxFor(x => x.BestSellers, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <button class="btn btn-primary" style="width:100px" id="btn1"><i class="fas fa-pencil-alt"></i> Update</button>
    <a class="btn btn-secondary" href="/ToDoList/BestSellers" style="width:100px;color:white"><i class="fas fa-backspace"></i> Cancel</a>
}



