USE [master]
GO
/****** Object:  Database [CommercialAutomationDb]    Script Date: 4/3/2021 10:24:33 PM ******/
CREATE DATABASE [CommercialAutomationDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommercialAutomationDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CommercialAutomationDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CommercialAutomationDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CommercialAutomationDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommercialAutomationDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommercialAutomationDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NULL,
	[Password] [varchar](30) NULL,
	[Authority] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargoes]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrackingCode] [varchar](10) NOT NULL,
	[Staff] [varchar](20) NOT NULL,
	[Receiver] [varchar](20) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Cargoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CargoTrackings]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargoTrackings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrackingCode] [varchar](10) NULL,
	[Explanation] [varchar](300) NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.CargoTrackings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](30) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[OnHome] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currents]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrentsName] [varchar](30) NOT NULL,
	[CurrentsSurname] [varchar](30) NOT NULL,
	[CurrentsCity] [varchar](30) NOT NULL,
	[CurrentsMail] [varchar](50) NOT NULL,
	[Password] [varchar](30) NULL,
	[CurrentImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Currents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](30) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details](
	[DetailsId] [int] IDENTITY(1,1) NOT NULL,
	[ProductsName] [varchar](30) NULL,
	[ProductsInformation] [varchar](2000) NULL,
 CONSTRAINT [PK_dbo.Details] PRIMARY KEY CLUSTERED 
(
	[DetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Explanation] [varchar](300) NULL,
	[Date] [datetime] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Expenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeImages]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SliderImage] [nvarchar](max) NULL,
	[Slider] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.HomeImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceContents]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceContents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Explanation] [varchar](300) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[InvoiceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.InvoiceContents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceSequenceNo] [varchar](6) NOT NULL,
	[InvoiceSerialNo] [char](1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[TaxAdministration] [varchar](100) NOT NULL,
	[Hour] [char](5) NOT NULL,
	[DeliveringPerson] [varchar](30) NOT NULL,
	[ReceiverPerson] [varchar](30) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [varchar](50) NULL,
	[Receiver] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[Content] [varchar](2000) NULL,
	[Date] [smalldatetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[Starry] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductsName] [varchar](45) NULL,
	[Brand] [varchar](30) NULL,
	[Stock] [smallint] NOT NULL,
	[BuyingPrice] [decimal](18, 2) NOT NULL,
	[SalesPrice] [decimal](18, 2) NOT NULL,
	[Status] [bit] NOT NULL,
	[ProductImage] [varchar](250) NULL,
	[CategoryId] [int] NOT NULL,
	[Explanation] [nvarchar](max) NULL,
	[Installment] [int] NOT NULL,
	[NewArrivals] [bit] NOT NULL,
	[BestSellers] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesMovements]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesMovements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Piece] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CurrentId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[StaffId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SalesMovements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [varchar](8000) NULL,
	[StaffSurname] [varchar](8000) NULL,
	[StaffImage] [varchar](8000) NULL,
	[DepartmentId] [int] NOT NULL,
	[Phone] [bigint] NOT NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Staffs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDoLists]    Script Date: 4/3/2021 10:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoLists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Hour] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.ToDoLists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Name], [Password], [Authority], [Status]) VALUES (1, N'admin', N'admin', N'SuperAdmin', 1)
INSERT [dbo].[Admins] ([Id], [Name], [Password], [Authority], [Status]) VALUES (2, N'admin2', N'1', N'Admin', 1)
INSERT [dbo].[Admins] ([Id], [Name], [Password], [Authority], [Status]) VALUES (3, N'admin3', N'2', N'Admin', 1)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Cargoes] ON 

INSERT [dbo].[Cargoes] ([Id], [TrackingCode], [Staff], [Receiver], [Date]) VALUES (1, N'ABC345679N', N'Bedirhan Erkiliç', N'Ayse Sari', CAST(N'2020-11-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Cargoes] ([Id], [TrackingCode], [Staff], [Receiver], [Date]) VALUES (2, N'893D58C96C', N'Bedirhan Erkiliç', N'Ayse Sari', CAST(N'2020-11-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cargoes] OFF
GO
SET IDENTITY_INSERT [dbo].[CargoTrackings] ON 

INSERT [dbo].[CargoTrackings] ([Id], [TrackingCode], [Explanation], [date]) VALUES (1, N'ABC345679N', N'Customer sale is complete.', CAST(N'2020-11-01T00:00:00.000' AS DateTime))
INSERT [dbo].[CargoTrackings] ([Id], [TrackingCode], [Explanation], [date]) VALUES (2, N'893D58C96C', N'The product has been shipped.', CAST(N'2020-11-04T00:00:00.000' AS DateTime))
INSERT [dbo].[CargoTrackings] ([Id], [TrackingCode], [Explanation], [date]) VALUES (4, N'893D58C96C', N'The product came out of Ankara.', CAST(N'2020-11-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CargoTrackings] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName], [Image], [OnHome]) VALUES (1, N'Telephone', N'https://i.hizliresim.com/uiBbLx.jpg', 1)
INSERT [dbo].[Categories] ([Id], [CategoryName], [Image], [OnHome]) VALUES (2, N'Computer', N'https://i.hizliresim.com/WQ5hhy.jpg', 1)
INSERT [dbo].[Categories] ([Id], [CategoryName], [Image], [OnHome]) VALUES (3, N'Computer Components', NULL, 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [NameSurname], [Email], [Subject], [Message]) VALUES (3, N'Bedirhan Erkılıç', N'erkilicbedirhan@gmail.com', N'Subject', N'Message')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Currents] ON 

INSERT [dbo].[Currents] ([Id], [CurrentsName], [CurrentsSurname], [CurrentsCity], [CurrentsMail], [Password], [CurrentImage]) VALUES (1, N'Ayse', N'Sari', N'Van', N'aysesari@gmail.com', N'1', N'/Image3/woman freepik 2.jfif.jfif')
INSERT [dbo].[Currents] ([Id], [CurrentsName], [CurrentsSurname], [CurrentsCity], [CurrentsMail], [Password], [CurrentImage]) VALUES (2, N'Hayirye', N'Yesil', N'Samsun', N'hayriyeyesil@gmail.com', N'2', NULL)
INSERT [dbo].[Currents] ([Id], [CurrentsName], [CurrentsSurname], [CurrentsCity], [CurrentsMail], [Password], [CurrentImage]) VALUES (3, N'Fatma', N'Beyaz', N'Istanbul', N'fatmawhite@gmail.com', N'3', N'/Image3/women freepik.jfif.jfif')
SET IDENTITY_INSERT [dbo].[Currents] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [DepartmentName], [Status]) VALUES (1, N'Sales Department', 1)
INSERT [dbo].[Departments] ([Id], [DepartmentName], [Status]) VALUES (2, N'Accounting Department', 1)
INSERT [dbo].[Departments] ([Id], [DepartmentName], [Status]) VALUES (3, N'Purchasing Department', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Details] ON 

INSERT [dbo].[Details] ([DetailsId], [ProductsName], [ProductsInformation]) VALUES (3, N'Refrigerator', N'A refrigerator (colloquially fridge) consists of a thermally insulated compartment and a heat pump (mechanical, electronic or chemical) that transfers heat from its inside to its external environment so that its inside is cooled to a temperature below the room temperature. Refrigeration is an essential food storage technique in developed countries. The lower temperature lowers the reproduction rate of bacteria, so the refrigerator reduces the rate of spoilage. A refrigerator maintains a temperature a few degrees above the freezing point of water. Optimum temperature range for perishable food storage is 3 to 5 °C (37 to 41 °F).[1] A similar device that maintains a temperature below the freezing point of water is called a freezer. The refrigerator replaced the icebox, which had been a common household appliance for almost a century and a half.

The first cooling systems for food involved ice. Artificial refrigeration began in the mid-1750s, and developed in the early 1800s. In 1834, the first working vapor-compression refrigeration system was built. The first commercial ice-making machine was invented in 1854. In 1913, refrigerators for home use were invented. In 1923 Frigidaire introduced the first self-contained unit. The introduction of Freon in the 1920s expanded the refrigerator market during the 1930s. Home freezers as separate compartments (larger than necessary just for ice cubes) were introduced in 1940. Frozen foods, previously a luxury item, became commonplace.')
SET IDENTITY_INSERT [dbo].[Details] OFF
GO
SET IDENTITY_INSERT [dbo].[HomeImages] ON 

INSERT [dbo].[HomeImages] ([Id], [SliderImage], [Slider]) VALUES (1, N'https://i.hizliresim.com/jX2LR5.jpg', 1)
INSERT [dbo].[HomeImages] ([Id], [SliderImage], [Slider]) VALUES (2, N'https://i.hizliresim.com/2GdaaB.jpg', 1)
INSERT [dbo].[HomeImages] ([Id], [SliderImage], [Slider]) VALUES (3, N'https://i.hizliresim.com/biaI26.jpg', 1)
SET IDENTITY_INSERT [dbo].[HomeImages] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceContents] ON 

INSERT [dbo].[InvoiceContents] ([Id], [Explanation], [Quantity], [UnitPrice], [Amount], [InvoiceId]) VALUES (1, N'Refrigerator', 1, CAST(3840.00 AS Decimal(18, 2)), CAST(3840.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[InvoiceContents] ([Id], [Explanation], [Quantity], [UnitPrice], [Amount], [InvoiceId]) VALUES (2, N'Laptop', 1, CAST(6000.00 AS Decimal(18, 2)), CAST(6000.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[InvoiceContents] ([Id], [Explanation], [Quantity], [UnitPrice], [Amount], [InvoiceId]) VALUES (3, N'Led Tv', 2, CAST(2500.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 5)
SET IDENTITY_INSERT [dbo].[InvoiceContents] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [InvoiceSequenceNo], [InvoiceSerialNo], [Date], [TaxAdministration], [Hour], [DeliveringPerson], [ReceiverPerson], [Total]) VALUES (4, N'100000', N'A', CAST(N'2020-10-21T00:00:00.000' AS DateTime), N'Kadiköy', N'13:30', N'Mesut Kirik', N'Can Gürbüz', CAST(10840.00 AS Decimal(18, 2)))
INSERT [dbo].[Invoices] ([Id], [InvoiceSequenceNo], [InvoiceSerialNo], [Date], [TaxAdministration], [Hour], [DeliveringPerson], [ReceiverPerson], [Total]) VALUES (5, N'100102', N'A', CAST(N'2020-10-21T00:00:00.000' AS DateTime), N'Sisli', N'15:30', N'Mehmet Yurt', N'Bedirhan Erkiliç', CAST(20750.00 AS Decimal(18, 2)))
INSERT [dbo].[Invoices] ([Id], [InvoiceSequenceNo], [InvoiceSerialNo], [Date], [TaxAdministration], [Hour], [DeliveringPerson], [ReceiverPerson], [Total]) VALUES (6, N'100103', N'A', CAST(N'2020-12-16T00:00:00.000' AS DateTime), N'Besiktas', N'15:30', N'Mehmet Yurt', N'Bedirhan Erkiliç', CAST(5000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [Sender], [Receiver], [Title], [Content], [Date], [Status], [Starry]) VALUES (4, N'müslüm@gmail.com', N'canorta@gmail.com', N'Discount', N'Hello Can, if you like the last PC sale you want, take a look.', CAST(N'2020-12-16T00:00:00' AS SmallDateTime), 1, 0)
INSERT [dbo].[Messages] ([MessageId], [Sender], [Receiver], [Title], [Content], [Date], [Status], [Starry]) VALUES (5, N'inanir@gmail.com', N'canorta@gmail.com', N'Gift', N'Hello Can, do you like your gift? I thought you would like it very much.', CAST(N'2020-12-12T00:00:00' AS SmallDateTime), 1, 0)
INSERT [dbo].[Messages] ([MessageId], [Sender], [Receiver], [Title], [Content], [Date], [Status], [Starry]) VALUES (6, N'aysesari@gmail.com', N'can', N'Business', N'Can you say you would help me? When will you be available?', CAST(N'2020-12-20T00:00:00' AS SmallDateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (5, N'Iphone 12', N'Apple', 2, CAST(9000.00 AS Decimal(18, 2)), CAST(9200.00 AS Decimal(18, 2)), 1, N'/Image2/Iphone12.jpg.jpg', 1, N'Apple iPhone 12 Mini 256GB Blue Smartphone
Words can''t keep up with the speed of the iPhone 12. A14 Bionic, the fastest chip in a smartphone. OLED screen that extends to the edges. Ceramic Shield with four times better performance against drops. And now Night mode, which is on all cameras. Meet the iPhone 12, which hosts all these features with two different models of magnificent sizes.', 6, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (51, N'M510 Wireless', N'Logitech', 1000, CAST(180.00 AS Decimal(18, 2)), CAST(199.00 AS Decimal(18, 2)), 1, N'/Image2/Logitech.jpg.jpg', 3, N'Technicial Specifications
Input device
Vehicle interface RF wireless
Weight & Dimensions
Weight 129 g
Height 120 mm
Width 65 mm
Depth 41 mm
Technical details
Weight 129 g
Battery type AA
Plug and play Yes
Number of keys 5
Number of USB 2.0 ports 1
Product color Black', 2, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (53, N'Lite Console', N'Nintendo ', 100, CAST(3000.00 AS Decimal(18, 2)), CAST(3300.00 AS Decimal(18, 2)), 1, N'/Image2/Nintendo.jpg.jpg', 12, N'Technicial Specifications
Weight & Dimensions
Weight 275 g
Height 91, 1 mm
Width 208 mm
Depth 13, 9 mm
Features
Wi-Fi standards 802.11a, 802.11b, 802.11g, Wi-Fi 4 (802.11n), Wi-Fi 5 (802.11ac)
Screen resolution 1280 x 720 Pixels
Touchscreen Yes
USB port Yes
Bluetooth Yes
Bluetooth version 4.1
Speedometer Yes
Gyroscope Yes', 2, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (54, N'Watch Nike', N'Apple', 250, CAST(3500.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), 1, N'/Image2/Apple Watch.jpg.jpg', 5, N'Technicial Specifications
Performance
Processor S5
Operating system software watchOS 6
Number of Processor Cores 2
Wi-Fi Yes
Heart rate monitor Yes
Sleep quality Yes
Compatible memory cards Not supported
Altimeter Yes
Built-in speakers Yes
Package Included
Battery technology Lithium-Ion (Li-Ion)
GPS performance
GPS Yes
Design
Screen type OLED
Touchscreen Yes
Imaging technology LTPO
Housing material Aluminum
Water resistant Yes', 3, 1, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (55, N'Bluetooth Speaker', N'Jbl', 63, CAST(200.00 AS Decimal(18, 2)), CAST(279.00 AS Decimal(18, 2)), 1, N'/Image2/Jbl.jpg.jpg', 4, N'Technicial Specifications
Connection
USB Connection Yes
Bluetooth profiles A2DP, AVRCP, HFP
Bluetooth version 4.1
USB charging port Yes
3.5mm connectors Yes
Headphone output Yes
USB connector Micro-USB
Bluetooth Yes
Connection technology Wired & Wireless
Weight & Dimensions
Weight 184 g
Height 71.2 mm
Width 86 mm
Depth 31, 6 mm
Speaker
Number of speakers 1
Number of drivers 1
Number of audio output channels 1 channels', 1, 1, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (57, N'On-Ear Headphones', N'Apple', 150, CAST(5000.00 AS Decimal(18, 2)), CAST(5700.00 AS Decimal(18, 2)), 1, N'/Image2/apple headphone.jpg.jpg', 5, N'First glance

 

AirPods Max

AirPods Max combine the magic of AirPods with a wireless, around-the-ear design. Rich bass, most accurate mid-range sounds and clear highs ensure consistently high sound quality to fit your headphone for an unmatched listening experience. With the industry-leading Active Noise Canceling feature, you can block out external noise and focus on what you listen to, or use Transparency Mode to be aware of what''s happening around you. In addition, spatial audio with dynamic head tracking allows you to experience a cinematic sound that surrounds you. AirPods Max provide a seamless listening experience.', 3, 1, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (58, N'Matebook D16', N'Huawei ', 100, CAST(8000.00 AS Decimal(18, 2)), CAST(8499.00 AS Decimal(18, 2)), 1, N'/Image2/Huawei Notebook.png.png', 2, N'Huawei Matebook D16 AMD Ryzen 5 4600H 16GB Ram 512GB SSD 16,1 '''' W10 Space Gray Notebook
Windows 10 Home 64-bit

AMD Ryzen 5 4600H (8MB Cache, 3GHz)

40.9 cm (16.1``) Full HD 1920 x 1080 IPS

8GB DDR4-SDRAM & 512GB SSD', 12, 1, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (60, N'MacBook Air', N'Apple', 500, CAST(10000.00 AS Decimal(18, 2)), CAST(11000.00 AS Decimal(18, 2)), 1, N'/Image2/Apple Macbook.jpg.jpg', 2, N'Apple MacBook Air 13 '''' M1 8C CPU 256GB Gold MGND3TU / A
MacBook Air as powerful as your imagination. Our thinnest and lightest laptop has been completely renewed with the Apple M1 chip. Up to 3.5 times faster CPU. Up to 5x faster GPU. Up to 9 times faster machine learning performance thanks to our most advanced Neural Engine unit. Longest battery life ever offered on a MacBook Air. And quiet, fanless design. This power is ready to go anywhere with you.', 12, 0, 1)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (61, N'Nirvana', N'Casper', 10, CAST(3500.00 AS Decimal(18, 2)), CAST(3999.00 AS Decimal(18, 2)), 1, N'/Image2/Casper Laptop.jpg.jpg', 2, N'Intel® Identity Protection Technology (Intel® IPT)

Protect Your Identity and Business
Intel® Identity Protection Technology (Intel® IPT) protects businesses from access through stolen credentials and online user account access with the help of an extra hardware-based security and authentication and multi-factor authentication framework.', 12, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (62, N'Asus X15', N'Asus', 560, CAST(3000.00 AS Decimal(18, 2)), CAST(3499.00 AS Decimal(18, 2)), 1, N'/Image2/Asus Laptop.png.png', 2, N'Technicial Specifications
Performance
Processor i3-1005G1
Operating system software Windows 10 Home
Number of Processor Cores 2
Optical drives No
Processor family 10th generation Intel® Core ™ i3
Integrated card reader Yes
Product type Laptop
Number of USB 2.0 ports 2
Internal memory type DDR4-SDRAM
Weight & Dimensions
Weight 1800 g
199 mm
Width 360 mm
Depth 234 mm
Design
Screen size 15.6 ''''
Touchscreen No
Product type Laptop
Product color Gray', 12, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (64, N'Galaxy A11', N'Samsung', 89, CAST(2000.00 AS Decimal(18, 2)), CAST(2200.00 AS Decimal(18, 2)), 1, N'/Image2/Samsun Galaxy a11.png.png', 1, N'Samsung Galaxy A11 Black Smartphone
 

Standing out with its aesthetic design, powerful battery and affordable price, the Samsung Galaxy A11 Black also brings together all the basic features that a smartphone should have. Thus, the device, which has managed to turn into an ideal option in terms of price - performance, allows you to have today''s technology without paying high fees.

Samsung Galaxy A11 Black Makes a Difference with its Notchless and Borderless Display
Although notched screens are among the most up-to-date design trends, the Samsung Galaxy A11 Black raises the bar one step higher, especially among affordable phone models, and reveals its difference with its completely unnotched, bezel-less display.', 6, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (68, N'P40 Lite', N'Huawei', 23, CAST(3200.00 AS Decimal(18, 2)), CAST(3499.00 AS Decimal(18, 2)), 1, N'/Image2/Huawei P40 Lite.png.png', 1, N'Get Creative with Quad Camera
The world is full of wonders and wonders waiting for you to discover. With its four rear cameras, the HUAWEI P40 lite takes a wider, clearer and closer shot than you can imagine. From cinematic staves to macro lens to incredibly detailed nature shots with a bokeh lens. All in just one phone. As if you had a professional photo studio in your pocket.

Take the fun into the night
With an f / 1.8 sized aperture designed to let in extra light and a larger ½ inch sensor, you won''t have to stop taking pictures even when the sun goes down. Thanks to HUAWEI AI Image Stabilization technology, Handheld Super Night mode cuts noise and gives you greater dynamic range for sharper and clearer photos.', 6, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (69, N'P Smart Pro', N'Huawei ', 12, CAST(2800.00 AS Decimal(18, 2)), CAST(2899.00 AS Decimal(18, 2)), 1, N'/Image2/Huawei P Smart Pro.jpg.jpg', 1, N'Huawei P Smart Pro 128 GB Midnight Black Smartphone
Huawei P Smart Pro with its unique features; The pop-up selfie camera uses pioneering technologies such as the fingerprint reader located on the side of the screen, and the screen without notch and bezel. This turns Huawei''s stylish and equipped P Smart Pro model into a remarkable smartphone model. Moreover, the P Smart Pro is offered for sale with a very affordable price tag considering all these advanced features. You can take a look at the details of the P Smart Pro for a smartphone model with an attractive price and innovative features.

Get the Widescreen and High Definition Difference with the Huawei P Smart Pro', 6, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (71, N'Poco X3', N'Xiaomi', 652, CAST(3300.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 1, N'/Image2/Xiaomi Poco X3.png.png', 1, N'Technicial Specifications
Package Included
Screen size 6.67 ''''
Cables included in the package USB Type-C
Quick start guide Yes
AC wrap adapter Yes
Battery technology Lithium-Ion (Li-Ion)
Screen
Screen size 6.67 ''''
Screen shape Flat
Screen type IPS
Touchscreen Yes
Screen glass type Gorilla Glass
Pixel density 395 ppi
Local aspect ratio 20: 9
Screen resolution 2400 x 1080 Pixels
Camera
Rear Camera Resolution 64 MP', 6, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (72, N'A15', N'OPPO', 10, CAST(2300.00 AS Decimal(18, 2)), CAST(2499.00 AS Decimal(18, 2)), 1, N'/Image2/Oppo A15.png.png', 1, N'Technicial Specifications
Package Included
Screen size 6.52 ''''
Battery technology Lithium Polymer (LiPo)
Screen
Screen size 6.52 ''''
Screen shape Flat
Screen type TFT-LCD
Touchscreen Yes
Screen resolution 720 x 1600 Pixels
Camera
Rear Camera Resolution 13 MP
Front Camera Resolution 8 MP
Operating system software Android 10.0
Front camera type Single camera
Rear camera type Triple camera
Auto focus Yes', 6, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (73, N'CRYSTAL UHD TV', N'Samsung', 23, CAST(7700.00 AS Decimal(18, 2)), CAST(7799.00 AS Decimal(18, 2)), 1, N'/Image2/Samsung Craystal.png.png', 68, N'Teknik Özellikler
Enerji yönetimi
Yıllık enerji tüketimi 161 kWh
Enerji verimlilik sınıfı A +
Güç tüketimi, etkin 0, 5 W
Otomatik güç kapalı Evet
Ağırlık & Boyutlar
Ambalaj derinliği 184 mm
Ambalaj genişliği 1606 mm
Ambalaj malzemesi 963 mm
Ağırlık 20600 g
Yükseklik 830, 3 mm
Genişlik 1449, 4 mm
Derinlik 59, 9 mm', 6, 0, 0)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (74, N'MI Robot Vacuum', N'Xiaomi', 560, CAST(3250.00 AS Decimal(18, 2)), CAST(3299.00 AS Decimal(18, 2)), 1, N'/Image2/Xiaomi Robot Süpürge.jpg.jpg', 11, N'Xiaomi MI Robot Vacuum Mop Pro Smart White Robot Vacuum Cleaner
Xiaomi Mi Robot Vacuum Mop Pro White - Smart Robot Vacuum Cleaner Xiaomi Mi Robot Vacuum Mop Pro White - Smart Robot Vacuum Cleaner Xiaomi Sweeping and Wiping Robot LDS Laser Navigation Version Supports three mopping modes. Artificial mop simulation, wipe more clean. Intelligent electric controlled water tank protects the wooden floor. 2100pa suction, sweep better. Upgrading LDS laser navigation in a versatile way and making maps more precise. Professional mop path design. Simulated artificial cleaning, two-way repetitive wiping.', 6, 0, 1)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (75, N'Cookart Maxi', N'Arzum', 56, CAST(850.00 AS Decimal(18, 2)), CAST(859.00 AS Decimal(18, 2)), 1, N'/Image2/Arzum Cookart.jpg.jpg', 10, N'Arzum AR2002 Cookart Maxi 50lt Double Glazed Oven
It allows you to prepare delicious dishes with different cooking options and gather your loved ones around a table.', 3, 0, 1)
INSERT [dbo].[Products] ([Id], [ProductsName], [Brand], [Stock], [BuyingPrice], [SalesPrice], [Status], [ProductImage], [CategoryId], [Explanation], [Installment], [NewArrivals], [BestSellers]) VALUES (76, N'Ariston', N'Hotpoint', 5000, CAST(1000.00 AS Decimal(18, 2)), CAST(1800.00 AS Decimal(18, 2)), 1, N'/Image2/Hotpoint Ariston.jpg.jpg', 9, N'Hotpoint Ariston PACW12CO TK 12000 BTU Portable Air Conditioner
BTU: 12000 BTU
Usage Area: 12 - 20 m²
Portable Air Conditioner
Energy class: A
Indoor Unit Noise Level: 64 Db
Indoor Operating Temperature Range: 18 - 32 ° C (Cooling)
Product Dimensions: 44.8 x 74.4 x 40 cm (W X H X D)
Color: white
Removable and washable HEPA filter
With Jet (Turbo) Cooling feature, noticeable cooling in a short time like 10 minutes,
Fast cooling in line with needs with 3 different speed settings,
With the Auto Clean function, reducing the humidity in the air and increasing the air quality of the environment,
With the Round U Function, it provides the opportunity to provide the most ideal conditions for you by regulating the temperature of the environment according to your location.', 3, 0, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesMovements] ON 

INSERT [dbo].[SalesMovements] ([Id], [Date], [Piece], [Price], [TotalAmount], [CurrentId], [ProductId], [StaffId]) VALUES (18, CAST(N'2020-10-02T00:00:00.000' AS DateTime), 1, CAST(9200.00 AS Decimal(18, 2)), CAST(9200.00 AS Decimal(18, 2)), 1, 5, 1)
INSERT [dbo].[SalesMovements] ([Id], [Date], [Piece], [Price], [TotalAmount], [CurrentId], [ProductId], [StaffId]) VALUES (19, CAST(N'2021-04-03T00:00:00.000' AS DateTime), 2, CAST(9200.00 AS Decimal(18, 2)), CAST(18400.00 AS Decimal(18, 2)), 6, 5, 1)
SET IDENTITY_INSERT [dbo].[SalesMovements] OFF
GO
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([Id], [StaffName], [StaffSurname], [StaffImage], [DepartmentId], [Phone], [Address]) VALUES (1, N'Bedirhan', N'Erkiliç', N'https://i.hizliresim.com/w815Gh.jpg', 1, 5398995545, N'Yozgat')
INSERT [dbo].[Staffs] ([Id], [StaffName], [StaffSurname], [StaffImage], [DepartmentId], [Phone], [Address]) VALUES (2, N'Ahmet', N'Yildirim', N'https://i.hizliresim.com/pfV3ln.jpg', 1, 5386564521, N'Erzurum/Merkez')
INSERT [dbo].[Staffs] ([Id], [StaffName], [StaffSurname], [StaffImage], [DepartmentId], [Phone], [Address]) VALUES (3, N'Aylin', N'Öztürk', N'https://i.hizliresim.com/P8j8z3.png', 2, 5349516512, N'Malatya')
SET IDENTITY_INSERT [dbo].[Staffs] OFF
GO
SET IDENTITY_INSERT [dbo].[ToDoLists] ON 

INSERT [dbo].[ToDoLists] ([Id], [Title], [Status], [Date], [Hour]) VALUES (1, N'I have a meeting with Ahmet.', 1, CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'12:30')
INSERT [dbo].[ToDoLists] ([Id], [Title], [Status], [Date], [Hour]) VALUES (14, N'Daily Scrum Meeting', 1, CAST(N'2020-11-08T00:00:00.000' AS DateTime), N'09:00')
SET IDENTITY_INSERT [dbo].[ToDoLists] OFF
GO
/****** Object:  Index [IX_InvoiceId]    Script Date: 4/3/2021 10:24:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceId] ON [dbo].[InvoiceContents]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 4/3/2021 10:24:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CurrentId]    Script Date: 4/3/2021 10:24:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_CurrentId] ON [dbo].[SalesMovements]
(
	[CurrentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 4/3/2021 10:24:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[SalesMovements]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StaffId]    Script Date: 4/3/2021 10:24:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_StaffId] ON [dbo].[SalesMovements]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 4/3/2021 10:24:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Staffs]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [OnHome]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [Starry]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Installment]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [NewArrivals]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [BestSellers]
GO
ALTER TABLE [dbo].[ToDoLists] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Date]
GO
ALTER TABLE [dbo].[InvoiceContents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceContents_dbo.Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceContents] CHECK CONSTRAINT [FK_dbo.InvoiceContents_dbo.Invoices_InvoiceId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[SalesMovements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesMovements_dbo.Currents_CurrentId] FOREIGN KEY([CurrentId])
REFERENCES [dbo].[Currents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesMovements] CHECK CONSTRAINT [FK_dbo.SalesMovements_dbo.Currents_CurrentId]
GO
ALTER TABLE [dbo].[SalesMovements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesMovements_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesMovements] CHECK CONSTRAINT [FK_dbo.SalesMovements_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[SalesMovements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesMovements_dbo.Staffs_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staffs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesMovements] CHECK CONSTRAINT [FK_dbo.SalesMovements_dbo.Staffs_StaffId]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Staffs_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_dbo.Staffs_dbo.Departments_DepartmentId]
GO
USE [master]
GO
