
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="code"/>
        <input type="submit" value="Generate QR" style="background-color:darkred;color:white;"/>
    }
    <br />
    @if (ViewBag.squarecodeimage!=null)
    {
        <img src="@ViewBag.squarecodeimage" alt="" style="width:400px;height:400px"/>
    }
</div>
