
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/web4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/web4/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">                       
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="error-page" style="margin-top:300px">
                    <h2 class="headline text-warning"> 404</h2>
                    <div class="error-content">
                        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>
                        <p>
                            Shhh be quiet. What are you looking for here? Nothing here, come back quickly!
                        </p>
                        <form class="search-form">
                            <div class="input-group">
                               <a class="btn btn-warning" href="/HomePage/Index">Turn Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    <script src="~/web4/plugins/jquery/jquery.min.js"></script>
    <script src="~/web4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/web4/dist/js/adminlte.min.js"></script>
    <script src="~/web4/dist/js/demo.js"></script>
</body>
</html>
