@model OnlineCommercialAutomation.Models.Entities.Category
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Add Category</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.CategoryName)
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-primary" style="width:100px"><i class="fas fa-plus"></i> Add</button>
    <a class="btn btn-secondary" href="/Category/Index" style="width:100px;color:white"><i class="fas fa-backspace"></i>  Cancel</a>
</form>


