
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML>
<html>
<body>
    <div class="content">
        <div class="mail-w3ls">
            <div class="container">
                <h2 class="tittle">About Us</h2>
                <div style="margin-top:50px;margin-left:25px;margin-right:25px;margin-bottom:50px">
                    <h3>  If I will briefly talk about Online Commercial Automation. When we log in to the admin section of Online Commercial Automation, the first thing that greets us is the dashboard. There are 4 statistics on the dashboard and a todolsite under it. After that, adding a category and deleting it is also the same thing. After these, there is a list of employees, including washing, updating and soft processing. In addition, we can see that the employees work in the department shown. After that, department adding, deleting and updating takes place in the departments section. You can see who is working in these departments. After that, we can see the customers and see the products and details they have received. Under that, there is an admin process, which can only be viewed as super admin. Under that, there is an advanced invoices tab, here we can add invoices in another way. Below it is the bills area. There is an area under it where we can see the sales made. Below that, there are help messages from users. After that, there is an area where we can make an announcement. Below it are charts made with Google Chart. After that, there are statistics, how much sales were made today and so on. one. There are simple tables under it. After that, there is a cargo area where you can enter and update cargo information. Finally, there is a QR Code generator in the admin panel.</h3>
                    <br />
                    <h3>In the user panel, there is a user panel where there is user information, statistics, announcements and profile update area. After that, there is an area where the user can view their orders. Below it is the cargo tracking panel. Finally, there is a Gmail-like messaging area that the user can actively use. User panel is created entirely using css, html, js and bootstrap.</h3>
                    <br />
                    <h3>In the home area, there is an area where we can display our products. There are fields such as Login, Register (separate Admin login page), About Us, Help. The Home layout is taken from W3layout and the Admin layout is from admin.lte.</h3>
                </div>
                <div class="mail-grids">
                    <div class="mail-top">
                        <div class="col-md-4 mail-grid">
                            <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                            <h5>Address</h5>
                            <p>
                                Yukarı Çatak Neighborhood - Ümit 1.Street - No:13
                            </p>
                        </div>
                        <div class="col-md-4 mail-grid">
                            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                            <h5>Phone</h5>
                            <p>Telephone:  +90 539 899 5545</p>
                        </div>
                        <div class="col-md-4 mail-grid">
                            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                            <h5>E-mail</h5>
                            <p>E-mail:<a href="mailto:erkilicbedirhan@gmail.com"> erkilicbedirhan@gmail.com</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

