@using OnlineCommercialAutomation.Models.Entities
@model List<Product>

@* Best Sellers *@
<div class="new-arrivals-w3agile">
    <div class="container">
        <h3 class="tittle1">Best Sellers</h3>
        <div class="arrivals-grids">
            @foreach (var x in Model)
            {
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr">
                        <div class="grid-arrival">
                            <figure>
                                <a href="/List/Details/@x.Id">
                                    <div class="grid-img">
                                        <img style="width:250px;height:250px" src="@x.ProductImage" class="img-responsive" alt="">
                                    </div>
                                </a>
                            </figure>
                        </div>
                        <div class="women">
                            <h6><a href="/List/Details/@x.Id">@x.ProductsName</a></h6>
                            <span class="size">@x.Brand</span>
                            <p><em class="item_price">@x.SalesPrice ₺</em></p>
                            <a href="/List/Details/@x.Id" class="my-cart-b item_add">Details</a>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
