@using OnlineCommercialAutomation.Models.Entities
@model List<HomeImage>

@* Slider *@
<div class="banner-w3">
    <div class="demo-1">
        <div id="example1" class="core-slider core-slider__carousel example_1">
            <div class="core-slider_viewport">
                <div class="core-slider_list">
                    @foreach (var x in Model)
                    {
                        <div class="core-slider_item">
                            <img style="width:1265px;height:445px" src="@x.SliderImage" class="img-responsive" alt="">
                        </div>
                    }
                </div>
            </div>
            <div class="core-slider_nav">
                <div class="core-slider_arrow core-slider_arrow__right"></div>
                <div class="core-slider_arrow core-slider_arrow__left"></div>
            </div>
            <div class="core-slider_control-nav"></div>
        </div>
    </div>
    <link href="~/HomeTemplate/css/coreSlider.css" rel="stylesheet" type="text/css">
    <script src="~/HomeTemplate/js/coreSlider.js"></script>
    <script>
        $('#example1').coreSlider({
            pauseOnHover: false,
            interval: 3000,
            controlNavEnabled: true
        });
    </script>
</div>
