@using OnlineCommercialAutomation.Models.Entities
@model List<Message>

@foreach (var x in Model)
{
<div class="timeline timeline-inverse">
    <div class="time-label">
        <span class="bg-warning">
            @x.Date.ToShortDateString()
        </span>
    </div>
    <div>
        <i class="fas fa-envelope bg-primary"></i>
        <div class="timeline-item">
            <h3 class="timeline-header"> You Have An Announcement.</h3>
            <div class="timeline-body">
                <p><strong>@x.Title</strong></p>
               @x.Content
            </div>
        </div>
    </div>
</div>
}